.header-home {
    background-color: var(--background-color-body);
    padding: 15px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header-home img {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.user-options {
    display: flex;
    align-items: center;
}

.link-username::before {
    content: '@';
}

.link-username {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-main-text);
}

.link-logout {
  font-size: 1.7rem;
  font-weight: 500;
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secondary-text);
}
